.info {
  border: 1px solid;
  background-color: #121213;
  position: fixed;
  top: 84px;
  left: 12vw;
  width: 76vw;
}

.info-content {
  text-align: left;
  margin: auto;
  width: 80%;
}

@media screen and (min-width: 480px) {
  .info-content {
    width: 50%;
  }
}
