.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
}

.letter-grid {
  display: inline-block;
  border: none;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  margin: 0px 2px 6px;
  width: 36px;
  height: 36px;
}

.user {
  position: sticky;
  background-color: #121213;
  top: 0;
  margin-bottom: 12px;
  border-bottom: 1px solid;
}

input {
  font-size: 30px;
  text-align: center;
  text-indent: 4px;
  text-transform: uppercase;
  letter-spacing: 6px;
  outline: none;
  width: 185px;
  height: 30px;
}

button {
  display: block;
  margin: 12px auto 36px;
  border-radius: 5px;
  border: none;
  padding: 6px 12px;
}

.answer {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  letter-spacing: 6px;
}

.bg-black {
  background-color: #3a3a3c;
}

.bg-yellow {
  background-color: #b59f3b;
}

.bg-green {
  background-color: #538d4e;
}

.fa-icons-style {
  font-size: 24px;
  padding: 6px 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.info {
  width: 80vw;
  height: 80vh;
  border: 1px solid;
  background-color: #121213;
  position: fixed;
  top: 80px;
  right: 10%;
  left: 10%;
}

.info-content {
  width: 80%;
  margin: auto;
  text-align: left;
}

@media screen and (min-width: 480px) {
  .letter-grid {
    font-size: 60px;
    width: 72px;
    height: 72px;
  }

  input {
    font-size: 60px;
    width: 370px;
    height: 60px;
  }

  .answer {
    font-size: 40px;
  }

  .fa-circle-info {
    font-size: 24px;
    padding: 12px 16px;
  }

  .info-content {
    width: 50%;
  }
}
