.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(4px + 2vmin);
}

input {
  font-size: 30px;
  letter-spacing: 12px;
  text-indent: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  height: 36px;
}

button {
  margin: 12px auto;
  display: block;
}
