.App {
	text-align: center;
}

.user {
	background-color: #121213;
	border-bottom: 1px solid;
}

.fa-icons-style {
	font-size: 24px;
	padding: 6px;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (min-width: 480px) {
	.fa-circle-info {
		font-size: 24px;
		padding: 12px;
	}
}
